<div>
  <input #msg1>
</div>
<button (click) = "mr_aSent(msg1.value)">Mr a</button>
<div>
  <input #msg2>
</div>
<button (click) = "mr_bSent(msg2.value)">Mr b</button>

        <div class="col-sm-3 col-sm-offset-4 frame">
            <ul></ul>
            <div>
                <div class="msj-rta macro">                        
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext" placeholder="Type a message" #msg1/>
                    </div> 

                </div>
                <div style="padding:10px;" *ngFor="let msg of arrayOfMsgs">
                    <span class="glyphicon glyphicon-share-alt">{{msg}}</span>
                </div>                
            </div>
        </div>       